.recipes {
  color: #fff;
  background-color: #0a2750;
  padding: 100px 80px 215px;
}

.recipes__title {
  margin: 0 0 24px;
}

.recipes__subtitle {
  margin: 0 0 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style-type: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}

.recipes__iframe {
  border: none;
}

.recipes__iframe {
  border: none;
}
